@use '../components/variables.scss' as *;

.main {
  background-color: rgba(240, 235, 235, 0.601);
  min-height: 100vh;
}

.cards-wrapper {
  @extend %direction_column;
  gap: 1rem;
  padding: 1.5rem;
}

.warn-text {
  color: $warn;
  font-size: 0.8rem;
  font-weight: 500;
}

.error-text {
  color: $error;
  font-size: 0.8rem;
  font-weight: 500;
}

.title-page {
  text-align: center;
  padding: 2rem;
}
